<nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">
        <img src="../../../../assets/images/logo.png" alt="logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="btn btn-light" routerLink="locations">Location de véhicules</a>
          <a class="btn btn-light" routerLink="locataires">Gestion des locataires</a>
          <a class="btn btn-light" routerLink="vehicules">Gestion des véhicules</a>
          <a class="btn btn-light" routerLink="locations-valides">Voir les locations</a>
        </div>
      </div>
    </div>
  </nav>