.location-header {
    display: flex;
    width: 80%;
    justify-content: space-between;
    background-color: white;
    padding: 10px 20px 10px 20px;
    border : 1px solid black;
    border-top: 0px;
    margin: 0px;
}

.location-item {
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
    width: 20%;
    text-align: center;
    height: 38px;
}